{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-5 mb-4">게시판</h1>
    <a id="create_post_btn" href="{% url 'isyv:create_post' %}" class="btn btn-primary mb-3">게시글 작성</a>
    <div class="row">
        {% if posts %}
            {% for post in posts %}
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'isyv:view_post' post_id=post.id %}">{{ post.title }}</a></h5>
                        <p class="card-text">{{ post.content }}</p>
                    </div>
                    <div class="card-footer text-muted">
                        작성자: {{ post.author }} | 작성일: {{ post.created_at }}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="col">
                <p class="text-muted">게시글이 없습니다.</p>
            </div>
        {% endif %}
    </div>
</div>

<script>
document.getElementById("create_post_btn").addEventListener("click", function(event) {
    // 로그인 여부를 확인하는 코드 (이 부분을 해당 웹사이트의 로그인 여부를 확인하는 코드로 변경해야 합니다)
    var isLoggedIn = {{ user.is_authenticated|yesno:"true,false" }};

    // 만약 로그인되어 있지 않다면 경고 메시지를 표시하고 이벤트를 중단합니다.
    if (!isLoggedIn) {
        alert("로그인이 필요합니다.");
        event.preventDefault(); // 기본 동작(링크 이동)을 중단합니다.
    }
});
</script>
{% endblock %}
