{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="card-title">{{ post.title }}</h2>
                <a href="{% url 'isyv:board' %}" class="btn btn-primary">작성글 목록으로 돌아가기</a>
            </div>
            <p class="card-subtitle text-muted">작성자: {{ post.author }}</p>
            <p class="card-subtitle text-muted">작성일: {{ post.created_at }}</p>
            <hr>
            <p class="card-text">{{ post.content }}</p>
        </div>
    </div>

    <div class="mt-4">
    <h4>댓글</h4>
    {% for comment in comments %}
    <div class="card mb-2">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <p class="card-text">{{ comment.content }}</p>
                <p class="card-subtitle text-muted">작성자: {{ comment.author }} | {{ comment.created_at }}</p>
            </div>
        </div>
    </div>
    {% empty %}
    <p class="text-muted">댓글이 없습니다.</p>
    {% endfor %}
    </div>

    <div class="mt-4 position-relative">
        <button id="show-comment-form" class="btn btn-secondary mb-3">댓글 달기</button>
        <form id="comment-form" method="post" style="display: none; transition: opacity 0.3s ease;" action="{% url 'isyv:create_comment' post.id %}">
        {% csrf_token %}
            <div class="mb-3">
                <label for="id_content" class="form-label">댓글 내용</label>
                <textarea name="content" class="form-control" id="id_content" rows="3"></textarea>
            </div>
        <button type="submit" class="btn btn-primary">댓글 작성</button>
        </form>
    </div>
</div>

<script>
    document.getElementById('show-comment-form').addEventListener('click', function() {
        var form = document.getElementById('comment-form');
        if (form.style.display === 'none') {
            form.style.display = 'block';
            setTimeout(function() {
                form.style.opacity = '1';
            }, 50);
        } else {
            form.style.opacity = '0';
            setTimeout(function() {
                form.style.display = 'none';
            }, 300);
        }
    });
</script>
{% endblock %}
